/* Navigation styles */

header nav {
      padding:3em 0;

}      

header nav ul {
	display: inline;
	text-align: right;
	list-style-type: none;	
}

header nav a {
	color: #CE6426;
    font-size: 20px;
    text-decoration: none;
    float:right;
    margin:0 15px;
    padding-bottom: 20px;
}

header nav a:hover {
	color: #CE6426;

}



/* Footer styles */

footer {
    background-color: #B01B08;
    color: #fff;
    padding: 45px 0 45px 0;
}

footer a {
    color: #b5c386;
    font-size: 16px;
    text-decoration: none;
}

footer a:hover {
	color: #b5c386;

}

footer h2 {
	font-size: 22px;
}

footer ul {
	list-style-type: none;
}