/* Typography */

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

/* Navigation styles */

header nav {
      padding:30px 10px;
      background: #FBFBF8;
}

header nav ul {
	text-align: right;
	list-style-type: none;
}

header nav li {
	display: inline;
}

header nav a {
	color: #CE6426;
    font-size: 20px;
    text-decoration: none;
    margin:0 15px;
    padding-bottom: 20px;
}

header nav a:hover {
	color: #CE6426;
}
/* END of Navigation styles */


/* Hero section */

.hero {
    background: #FBFBF8;

}

.line {
    position: relative;
    right: 220px;
    bottom: 16px;

}

.truck {
    position: relative;
    left: 23px;
    top: 90px;
}


.logo {
    position: relative;
    right: 100px;
    bottom: 30px;

}

.button.button-primary {
    background: #CE6426;
    border: 1px solid #CE6426;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0px 2px 0px 0px #B74604;
    text-decoration: none;
    margin-right: 20px;

}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
    color: #CE6426;
    margin-bottom: -5px;

}

.hero p {
    font-size: 22px;
    color: #CE6426;

}

.input {
    padding-right: 20px, 
}

/* END of Hero section */

/* 2nd section of food */
.photos {
    background-image: url(../images/halftone_globe.png);
    background-color: #EEF1E4;
    width: 100%;
    height: 500px;
}
.left {
    position: relative;
    right: 45px;
    top: 192px;
}

.right {
    position: relative;
    left: 15px;
    top: 192px;
}

.photos p {
    color: #B01B08;
    text-align: center;
    position: relative;
    top: 200px;
    right: 10px;
}

#textright {
    color: #B01B08;
    text-align: center;
    position: relative;
    top: 200px;
    left: 55px;
}
.jerk {
    position: relative;
    right: 45px;
    top: 15px;
}

.buttonmember {
    background: #CE6426;
    border-radius: 4px;
    color:#fff;
    border: 2px solid #CE6426;
    box-shadow: 0px 2px 0px 0px #B74604;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    top: 35px;
    left: 50px;

}

/* END of 2nd section of food */


/* 3rd section of people eating */

.download-app {
    background-image: url(../images/People_eating.png);
    width: 100%;
    height: 435px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding: 4em 0;
}

.buttonpeople {
    background: #CE6426;
    border-radius: 4px;
    color:#fff;
    border: 2px solid #CE6426;
    box-shadow: 0px 2px 0px 0px #B74604;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    bottom: -280px;
    left: 195px;
    right: 10px;

}

.download-app p{
    font-size: 18px;
    color: #000;
    line-height: 22px;
    text-align: center;
    margin-top: 300px;
    padding: 0 20 0 0;
    position: relative;
    left: 195px;
    bottom: -5px;
}

.phone  {
    position: relative;
    right: 100px;
    top: 100px;
    padding: 100px;

}

.apps {
    position: relative;
    bottom: -280px;
    right: 50px;


}
/* END of 3rd section of people eating */

/* Infographic section */

.infographic {
    background-image: url(../images/cityscape_icons.png);
    background-color: #FBFBF8;
    background-repeat: no-repeat;
    background-position: top center;
    background size: cover;
    padding: 22em 4em 4em 4em;
    display: block;
    text-align: center;
}

@media (max-width: 1000px) {
    .infographic {
     background-image: none;
     padding: 4em 4em 4em 4em;
    }

}

.infographic h2 {
    font-size: 24px;
    color: #275f43;
    margin-top: 60px;
    text-align: center;

}
.infographic p {
    font-size: 18px;
    color: #3a956a;
    line-height: 22px;
    margin-top: 15px;
    text-align: center;
}

.infographic img {
    margin-top: 5px;


}

.check-icon {
    padding: 6px;
}
/* Buttons */

.button {
    border-radius: 4px;
    color:#fff;
    background: #3A956A;
    border: 2px solid #359668;
    box-shadow: 0px 2px 0px 0px #275f43;
    text-align: center;
    margin-top: 5px;
}

.button a {
    font-size: 16px;
}
/* END of Infographic section */

/* Footer styles */

footer {
    background-color: #B01B08;
    color: #fff;
    padding: 45px 0 45px 0;
}

footer a {
    color: #b5c386;
    font-size: 16px;
    text-decoration: none;
}

footer a:hover {
	color: #b5c386;

}

footer h2 {
	font-size: 22px;
}

footer ul {
	list-style-type: none;
}
